.row{
  padding: 2px;
}

.sideImage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.backImage {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 100%;
  height: 190px;
}