<div class="boxView">
  <div class="logo">

    <img style="border-radius: 0px" src="https://www.toledobrasil.com/blob/img/base/toledo-brasil-logotipo.svg" alt="Logo">

  </div>

  <section>
    <h3>Sistema de detecção de fraudes e erros de na pesagem</h3>
    <p>
      O Sistema Antifraude para Pesagem de Caminhões da ToledoBrasil é uma solução inovadora que ajuda a proteger as empresas contra fraudes de pesagem.
    </p>
  </section>
  <section>
    <h3>Como funciona</h3>
    <p>
      O sistema usa uma combinação de sensores e algoritmos para detectar possíveis fraudes de pesagem. Os sensores monitoram o processo de pesagem, irão identificar caso o motorista tente realizar um fraude, e tambem irão identificar caso o caminhão esteja com algum dos eixos fora da balança. Os algoritmos analisam os dados coletados pelos sensores para identificar padrões que podem indicar fraude.
    </p>
    <p>
      O sistema pode detectar uma variedade de fraudes e erros na pessagem, incluindo:
    </p>
      <ul>
        <li>Tentativa de fraude no momento da pesagem</li>
        <li>Eixos do caminhão fora da balança</li>
      </ul>
  </section>
  <section>
    <h3>Benefícios</h3>
    <p>
      O Sistema Antifraude para Pesagem de Caminhões da ToledoBrasil oferece uma série de benefícios para as empresas, incluindo:
    </p>
      <ul>
        <li>Aumento da segurança e confiabilidade da pesagem</li>
        <li>Redução de perdas financeiras</li>
        <li>Melhoria da conformidade regulatória</li>
      </ul>
  </section>
</div>